html
 head
  title #{title}
 body
  #container
    form(method="post" action="/save")
     table(border='0')
      tr
       td
        label='Nama Mahasiswa '
       td
        input(type = 'text', name = 'nama')
      tr
       td(valign = 'top')
        label='Alamat '
       td
        textarea(name = 'alamat', style='height:100px; width:290px')
      tr
       td
        label='Telp   '
       td
        input(type = 'text', name = 'telp', maxlength = '13')
      tr
       td
        label='Jenis Kelamin   '
       td
        input(type = 'radio', name = 'jk', value = 'Laki - Laki')
        |Laki - Laki
        input(type = 'radio', name = 'jk', value = 'Perempuan')
        |Perempuan
      tr
       td
        input(type = 'submit', value = 'Simpan' style='width:60px')
        input(type = 'button', value = 'Cancel' ,style='margin-left:15px;width:60px', onClick = 'javascript:history.back(-1)')      
